/* _content/VertexWeb/Pages/Dashboard.razor.rz.scp.css */
/* _content/VertexWeb/Pages/Employees.razor.rz.scp.css */
/* _content/VertexWeb/Pages/Index.razor.rz.scp.css */
.login-page[b-xkmhjjr62m]{
    background-color: red;
}
/* _content/VertexWeb/Pages/Menu.razor.rz.scp.css */
/* _content/VertexWeb/Pages/Orders.razor.rz.scp.css */
/* _content/VertexWeb/Pages/Register.razor.rz.scp.css */
/* _content/VertexWeb/Shared/MainLayout.razor.rz.scp.css */
.page[b-tettr78plu] {

    display: flex;
    flex-direction: column;
}

main[b-tettr78plu] {
    flex: 1;
}

.sidebar[b-tettr78plu] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tettr78plu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tettr78plu]  a, .top-row .btn-link[b-tettr78plu] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tettr78plu] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tettr78plu] {
        display: none;
    }

    .top-row.auth[b-tettr78plu] {
        justify-content: space-between;
    }

    .top-row a[b-tettr78plu], .top-row .btn-link[b-tettr78plu] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tettr78plu] {
        flex-direction: row;
    }

    .sidebar[b-tettr78plu] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tettr78plu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-tettr78plu], article[b-tettr78plu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/VertexWeb/Shared/NavMenu.razor.rz.scp.css */
/* .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
} */
/* 
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        Never collapse the sidebar for wide screens
        display: block;
    }
} */

nav[b-fdh3rvpoym]{
    width: 100vw;
    height: 70px;
    background-color: var(--purple-main);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    color: var(--main-font-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav > div[b-fdh3rvpoym]{
    height: 100%;
    display: flex;
    align-items: center;
}

nav > div:nth-child(1)[b-fdh3rvpoym]{
    width: 15%;
    justify-content: center;
}

nav > div:nth-child(2)[b-fdh3rvpoym]{
    width: 50%;
    justify-content: space-evenly;
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    
}

[b-fdh3rvpoym] .link-nav {
    border-radius: 10px;
    color: var(--secondary-font-color);
    background-color:var(--purple-light);
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 22%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

[b-fdh3rvpoym] .link-nav:hover, nav> div:nth-child(3) > div:nth-child(2):hover[b-fdh3rvpoym] {
    background-color: var(--purple-main);
    color: var(--main-font-color);
}

[b-fdh3rvpoym] .link-nav h4, [b-fdh3rvpoym] .link-nav-active h4{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5vw;
}
[b-fdh3rvpoym] .link-nav-active{
    border-radius: 10px;
    background-color: var(--purple-main);
    color: var(--main-font-color);
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 22%;
}

nav > div:nth-child(3)[b-fdh3rvpoym]{
    width: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav > div:nth-child(3) > div[b-fdh3rvpoym] {
    height: 60%;
    background-color: var(--purple-light);
    color: var(--secondary-font-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    
}
nav > div:nth-child(3) > div > h4[b-fdh3rvpoym]{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5vw;
}

nav > div:nth-child(3) > div:nth-child(1)[b-fdh3rvpoym] {
    width: 60%;
}

nav> div:nth-child(3) > div:nth-child(2)[b-fdh3rvpoym] {
    width: 20%;
    cursor: pointer;
}
nav h2[b-fdh3rvpoym]{
    font-family: var(--main-font);
    font-size: 2.5rem;
    margin:0;
}



