@page "/addEmployees"

<div class="add-employees-page">
    <div class="top-buttons">
        <button class="btn">Ver Empleados</button>
        <button class="btn">Agregar Empleado</button>
    </div>
    <EditForm Model="iRegister" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form">

        <h3 class="tittle" for="Tittle">Agregar Empleado</h3>
        
        <div class="user-box">
            <input type="text" placeholder="Nombres" required @bind="iRegister.Names" />
        </div>
        <div class="user-box">
            <input type="text" placeholder="Apellidos" required @bind="iRegister.Lastnames" />
        </div>
        <div class="user-box">
            <input type="text" placeholder="Numero de Telefono" required @bind="iRegister.PhoneNumber" />
        </div>
        <div class="user-box">
            <input type="text" placeholder="Foto" required @bind="iRegister.Photo" />
        </div>
        <div class="user-box">
            <input type="text" placeholder="Rol" required @bind="iRegister.Role" />
        </div>
        <div class="user-box">
            <input type="text" placeholder="Email" required @bind="iRegister.Email" />
        </div>
        <button type="submit"   >Agregar Empleado</button>
    </div>
</EditForm>
@code {
    private InstitutionRegister iRegister = new();

    private async Task HandleSubmit() 
    {
        Console.WriteLine("Submit");
    }
    public class InstitutionRegister
    {
        [Required]
        public string Names { get; set; }

        [Required]
        public string Lastnames { get; set; }

        [Required]
        public string PhoneNumber { get; set; }

        [Required]
        public string Photo { get; set; }

        [Required]
        public string Role { get; set; }

        [Required]
        public string Email { get; set; }

    }
}
</div>