.add-employees-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}
.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form button {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-main);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--main-font);
}

.tittle{
    color: var(--main-font-color);
    font-family: var(--main-font);
}

.user-box {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-box input {
    width: 40%;
    height: 25%;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-light);
}

.user-box input::placeholder {
    color: var(--secondary-font-color);
    font-family: var(--main-font);
}

.top-buttons {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-buttons button { 
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
}

.top-buttons button:hover {
    background-color: var(--purple-main);
}