@page "/"

<PageTitle>Login</PageTitle>

<div class="login-page">
    <div>
        <div>
            <svg width="400" height="400" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M227.958 304.712L227.958 203.253L237.893 203.253L227.666 193.604L227.666 189.193H237.601L227.666 179.819L227.666 175.407H238.77L228.25 165.482L228.25 161.622L238.77 161.622L227.958 151.421L227.958 45C252.671 79.2747 263.994 136.544 265.652 218.417H253.379L250.457 221.174L256.594 304.712L256.594 342.639L227.958 341.194L227.958 304.712Z"
                    fill="#D9D9D9" />
                <path
                    d="M131.926 138.864L137.68 49.0616L138.891 114.477H145.554L149.188 49.0616L152.217 114.477H158.274L161.302 49.0616L165.239 114.477H171.599L172.81 49.0616L177.959 138.864C174.613 145.157 171.142 147.977 162.816 152.062L167.359 333.1C158.246 336.625 152.958 337.524 142.526 333.1L147.371 152.062C139.714 148.427 136.114 145.742 131.926 138.864Z"
                    fill="#D9D9D9" />
            </svg>
        </div>
        <h1>VERTEX</h1>
    </div>
    <div>
        <h2>
            Iniciar Sesion
        </h2>
        <div>

        </div>
        </div>
        </div>