.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-page > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page > div:nth-child(1){
    width: 40%;
    height: 100%;
    background-color: var(--purple-main);
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.login-page h1 {
    font-size: 4rem;
    font-family: var(--main-font);
    color: var(--main-font-color);
    letter-spacing: 3px;
}



.login-page > div:nth-child(2){ 
    width: 60%;
    height: 100%;
}
.login-page > div:nth-child(2) > div {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-page > div:nth-child(2) > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::deep form{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-page h2 {
    text-align: start;
    font-size: 3rem;
    color: var(--main-font-color);
    height: 10%;
    width: 100%;
}

.login-page h3{
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--main-font-color);
}

.login-page h3 span {
    color: var(--purple-main);
    cursor: pointer;
    font-weight: bold;
}

.user-box{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-box input{
    width: 100%;
}

::deep form button{
    height: 20%;
    border: 0;
    border-radius: 5px;
    width: 100%;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

::deep form button:hover{
    background-color: transparent;
    border: 2px solid var(--purple-main);
    color: var(--purple-main);
}