.menu-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}

.menu-options-group{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-options-group button{
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
    
}

.menu-btn-group button:hover{
    background-color: var(--purple-light);
}

.menu-categories{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-categories::-webkit-scrollbar {
    display: none;
}




h1{
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-font-color);
    text-align: center;
    margin: auto;
    margin-block-end: 5vh;

}

.menu-product-list{
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.menu-list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 5vh;
    border-bottom: 1px solid var(--main-font-color);
}
.menu-list-item-img{
    width: 15vh;
    height: 15vh;
    border-radius: 5px;
}
.menu-list-item-info{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
}
.menu-list-item-info p{
    font-family: var(--main-font);
    text-overflow: ellipsis;
}
.menu-list-item-buttons{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 15%;
    display: flex;
}
.menu-list-item-buttons button{
    block-size: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-font-color);
    cursor: pointer;
    transition: 0.3s;
}
.menu-list-item-buttons button:hover{
    background-color: var(--purple-light);
}