.orders-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}

.top-buttons {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-buttons button { 
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
}

.top-buttons button:hover {
    background-color: var(--purple-main);
}

.order-section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.order-section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    
    width: 20%;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;

}

.order-section-2{
    width: 55%;
    height: 90%;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
}

.order-section-1 h2 {
    margin-top: 1rem;
    font-family: var(--main-font);
    align-self: center;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
}

.orders button {
    background-color: var(--purple-light);
    color: var(--main-font-color);
    margin: 0.5rem 0 0 0;
    width: 80%;
    height: 10%;
    font-size: 2rem;
    font-family: var(--secondary-font);
    border-radius: 0.5rem;
    border: none;
}

.orders button:hover {
    background-color: var(--purple-main);
}

.order-section-3{
    width: 20%;
    height: 90%;
    border-radius: 0.5rem;
}

.order-section-3 h2 {
    font-family: var(--main-font);
    align-self: center;
}

.title-section {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.order-details {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.buttons {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.btn-accept {
    align-self: center;
    background-color: green;
    color: var(--main-font-color);
    width: 40%;
    height: 40%;
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 0.5rem;
    border: none;
}

.btn-deny {
    align-self: center;
    background-color: red;
    color: var(--main-font-color);
    width: 40%;
    height: 40%;
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 0.5rem;
    border: none;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid transparent;
    text-align: center;
    color: var(--main-font-color);
    font-family: var(--secondary-font);
}



