.dashboard-card[b-rzz0cwn0rq]{
    background-color: var(--secondary-background-color);
    border-radius: 2rem;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dashboard-card:hover[b-rzz0cwn0rq]{
    background-color: var(--main-background-color);
}

.dashboard-card > div[b-rzz0cwn0rq] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard-card > div:nth-child(1)[b-rzz0cwn0rq] {
    width: 35%;
    height: 100%;
}

.dashboard-card > div:nth-child(2)[b-rzz0cwn0rq] {
    width: 65%;
    height: 70%;
}

h3[b-rzz0cwn0rq]{
    font-size: 2rem;
    color: var(--main-font-color);
    text-align: center;
}

p[b-rzz0cwn0rq]{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
}

span[b-rzz0cwn0rq]{
    font-size: 12vh;
    color: var(--purple-main);
}