.modal-dialog .modal-content[b-95e6wzg1tp]{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease-in-out;
}

.modal-dialog .modal-content:hover[b-95e6wzg1tp]{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
}

.modal-dialog .modal-header[b-95e6wzg1tp]{
    color: var(--purple-main);
}

.modal-dialog .modal-content h4[b-95e6wzg1tp]{
    font-size: 2rem;
    font-family: var(--main-font);
}

.modal-dialog .modal-content button[b-95e6wzg1tp]{ 
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--purple-main);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--main-font-color);
    font-family: var(--secondary-font);
    transition: all 0.5s ease-in-out;
}

.modal-dialog .modal-content button:hover[b-95e6wzg1tp]{
    background-color: var(--purple-light);
    color: var(--purple-main);
}

.modal-dialog

.modal-dialog .modal-body[b-95e6wzg1tp]{
    color: #E9F1F3;
    font-family: var(--secondary-font);
}
