.menu-list-item[b-k3z48m9mor]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 5vh;
    border-block-end: 1px solid var(--main-font-color);
}
.menu-list-item-img[b-k3z48m9mor]{
    inline-size: 15vh;
    block-size: 15vh;
    border-radius: 5px;
}
.menu-list-item-info[b-k3z48m9mor]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
    white-space: wrap;
}
.menu-list-item-info p[b-k3z48m9mor]{
    font-family: var(--main-font);
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.menu-list-item-buttons[b-k3z48m9mor]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 15%;
    display: flex;
}
.menu-list-item-buttons button[b-k3z48m9mor]{
    block-size: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-font-color);
    cursor: pointer;
    transition: 0.3s;
}
.menu-list-item-buttons button:hover[b-k3z48m9mor]{
    background-color: var(--purple-light);
}