.menu-list-item[b-9zzna7224d] {
    display: flex;
    justify-content: space-around;
    border-block-end: 1px solid var(--main-font-color);
    align-items: center;
    margin-top: 0.5rem;
}
.menu-list-item-img[b-9zzna7224d] {
    inline-size: 15vh;
    block-size: 15vh;
    border-radius: 5px;
}
.menu-list-item-img img[b-9zzna7224d] {
    width: 15vh;
    height: 15vh;
}
.menu-list-item-info[b-9zzna7224d] {
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
    font-family: var(--main-font);
    color: var(--main-font-color);
}
.menu-list-item-info p[b-9zzna7224d] {
    font-family: var(--secondary-font);
    word-wrap: break-word;
    color: var(--secondary-font-color);
}