<div class="category-section">
    <h3>@CategoryName</h3>
    <div>
        <MenuItem/>
        <MenuItem/>
        <MenuItem/>
    </div>
</div>

@code{
    [Parameter]
    public string? CategoryName { get; set; }
}