.category-section{
    width: 100%;
    margin: 5vh 0;
}

.category-section h3{
    font-size: 2.3rem;
    font-family: var(--main-font);
    color: var(--main-font-color);
    padding: 0;
    width: 100%;
    text-align: center;
}

.category-section > div{
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}