<div class="employee-container">
	<div class="image">
		<img src="images/employee.jpg" width="80" height="80"/>
	</div>
	<div class="description">
		<h4>Estiven Vargas</h4>
		<p>Cocinero</p>
	</div>
	<button>Eliminar empleado</button>
</div>
