 <div class="menu-list-item">
    <div class="menu-list-item-img">
        <img src="https://www.hamburguesas.com/wp-content/uploads/2019/05/hamburguesa-vegetariana.jpg" alt="hamburguesa vegetariana">
    </div>
    <div class="menu-list-item-info">
        <h2>Nombre</h2>
        <p>Descripcionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>Precio</p>
    </div>
    <div class="menu-list-item-buttons">
        <button>Detalles</button>
        <button>Eliminar</button>
    </div>
</div>
