 <div class="menu-list-item">
    <div class="menu-list-item-img">
        <img src="https://www.hamburguesas.com/wp-content/uploads/2019/05/hamburguesa-vegetariana.jpg" alt="hamburguesa vegetariana">
    </div>
    <div class="menu-list-item-info">
        <h2>Nombre Plato</h2>
        <p>Descripcion</p>
        <p>Cantidad</p>
    </div>
</div>