 <div class="menu-list-item">
    <div class="menu-list-item-img">
        <img src="images/NCI_Visuals_Food_Hamburger.jpg" alt="hamburguesa">
    </div>
    <div class="menu-list-item-info">
        <h2>Nombre Plato</h2>
        <p>Descripcion</p>
        <p>Cantidad</p>
    </div>
</div>