/* _content/VertexWeb/Pages/AddEmployees.razor.rz.scp.css */
.add-employees-page[b-93uvfk2xko]{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}
.form[b-93uvfk2xko] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form button[b-93uvfk2xko] {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-main);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--main-font);
}

.tittle[b-93uvfk2xko]{
    color: var(--main-font-color);
    font-family: var(--main-font);
}

.user-box[b-93uvfk2xko] {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-box input[b-93uvfk2xko] {
    width: 40%;
    height: 25%;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-light);
}

.user-box input[b-93uvfk2xko]::placeholder {
    color: var(--secondary-font-color);
    font-family: var(--main-font);
}

.top-buttons[b-93uvfk2xko] {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-buttons button[b-93uvfk2xko] { 
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
}

.top-buttons button:hover[b-93uvfk2xko] {
    background-color: var(--purple-main);
}
/* _content/VertexWeb/Pages/Dashboard.razor.rz.scp.css */
.dashboard-page[b-cub6ra87si]{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard-page > div[b-cub6ra87si]{
    width: 90%;
    height: 60%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

/* _content/VertexWeb/Pages/Employees.razor.rz.scp.css */
.employees-page[b-9s40gx8nw0]{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}

.top-buttons[b-9s40gx8nw0] {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-buttons button[b-9s40gx8nw0] { 
    background-color: var(--purple-light);
    color: var(--main-font-color);
}

.top-buttons button:hover[b-9s40gx8nw0] {
    background-color: var(--purple-main);
}

.employee-container[b-9s40gx8nw0] {
    margin-top: 10px;
    height: 80%;
    width: 90%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.list-container[b-9s40gx8nw0] {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.list-container[b-9s40gx8nw0]::-webkit-scrollbar {
    display: none;
}
/* _content/VertexWeb/Pages/Index.razor.rz.scp.css */
.login-page[b-ec87wsr0l5]{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-page > div[b-ec87wsr0l5]{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page > div:nth-child(1)[b-ec87wsr0l5]{
    width: 40%;
    height: 100%;
    background-color: var(--purple-main);
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.login-page h1[b-ec87wsr0l5] {
    font-size: 4rem;
    font-family: var(--main-font);
    color: var(--main-font-color);
    letter-spacing: 3px;
}



.login-page > div:nth-child(2)[b-ec87wsr0l5]{ 
    width: 60%;
    height: 100%;
}
.login-page > div:nth-child(2) > div[b-ec87wsr0l5] {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-page > div:nth-child(2) > div > div[b-ec87wsr0l5] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

[b-ec87wsr0l5] form{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-page h2[b-ec87wsr0l5] {
    text-align: start;
    font-size: 3rem;
    color: var(--main-font-color);
    height: 10%;
    width: 100%;
}

.login-page h3[b-ec87wsr0l5]{
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--main-font-color);
}

.login-page h3 span[b-ec87wsr0l5] {
    color: var(--purple-main);
    cursor: pointer;
    font-weight: bold;
}

.user-box[b-ec87wsr0l5]{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-box input[b-ec87wsr0l5]{
    width: 100%;
}

[b-ec87wsr0l5] form button{
    height: 20%;
    border: 0;
    border-radius: 5px;
    width: 100%;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

[b-ec87wsr0l5] form button:hover{
    background-color: transparent;
    border: 2px solid var(--purple-main);
    color: var(--purple-main);
}
/* _content/VertexWeb/Pages/Menu.razor.rz.scp.css */
.menu-page[b-1nt4wfwu4l]{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}

.menu-options-group[b-1nt4wfwu4l]{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-options-group button[b-1nt4wfwu4l]{
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
    
}

.menu-btn-group button:hover[b-1nt4wfwu4l]{
    background-color: var(--purple-light);
}

.menu-categories[b-1nt4wfwu4l]{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-categories[b-1nt4wfwu4l]::-webkit-scrollbar {
    display: none;
}




h1[b-1nt4wfwu4l]{
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-font-color);
    text-align: center;
    margin: auto;
    margin-block-end: 5vh;

}

.menu-product-list[b-1nt4wfwu4l]{
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.menu-list-item[b-1nt4wfwu4l]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 5vh;
    border-bottom: 1px solid var(--main-font-color);
}
.menu-list-item-img[b-1nt4wfwu4l]{
    width: 15vh;
    height: 15vh;
    border-radius: 5px;
}
.menu-list-item-info[b-1nt4wfwu4l]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
}
.menu-list-item-info p[b-1nt4wfwu4l]{
    font-family: var(--main-font);
    text-overflow: ellipsis;
}
.menu-list-item-buttons[b-1nt4wfwu4l]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 15%;
    display: flex;
}
.menu-list-item-buttons button[b-1nt4wfwu4l]{
    block-size: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-font-color);
    cursor: pointer;
    transition: 0.3s;
}
.menu-list-item-buttons button:hover[b-1nt4wfwu4l]{
    background-color: var(--purple-light);
}
/* _content/VertexWeb/Pages/Orders.razor.rz.scp.css */
.orders-page[b-ri64km7y3a]{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}

.top-buttons[b-ri64km7y3a] {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-buttons button[b-ri64km7y3a] { 
    background-color: var(--purple-light);
    color: var(--main-font-color);
    transition: all 0.5s ease-in-out;
}

.top-buttons button:hover[b-ri64km7y3a] {
    background-color: var(--purple-main);
}

.order-section[b-ri64km7y3a] {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.order-section-1[b-ri64km7y3a] {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    
    width: 20%;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;

}

.order-section-2[b-ri64km7y3a]{
    width: 55%;
    height: 90%;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
}

.order-section-1 h2[b-ri64km7y3a] {
    margin-top: 1rem;
    font-family: var(--main-font);
    align-self: center;
}

.orders[b-ri64km7y3a] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
}

.orders button[b-ri64km7y3a] {
    background-color: var(--purple-light);
    color: var(--main-font-color);
    margin: 0.5rem 0 0 0;
    width: 80%;
    height: 10%;
    font-size: 2rem;
    font-family: var(--secondary-font);
    border-radius: 0.5rem;
    border: none;
}

.orders button:hover[b-ri64km7y3a] {
    background-color: var(--purple-main);
}

.order-section-3[b-ri64km7y3a]{
    width: 20%;
    height: 90%;
    border-radius: 0.5rem;
}

.order-section-3 h2[b-ri64km7y3a] {
    font-family: var(--main-font);
    align-self: center;
}

.title-section[b-ri64km7y3a] {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.order-details[b-ri64km7y3a] {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.buttons[b-ri64km7y3a] {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
}

.btn-accept[b-ri64km7y3a] {
    align-self: center;
    background-color: green;
    color: var(--main-font-color);
    width: 40%;
    height: 40%;
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 0.5rem;
    border: none;
}

.btn-deny[b-ri64km7y3a] {
    align-self: center;
    background-color: red;
    color: var(--main-font-color);
    width: 40%;
    height: 40%;
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 0.5rem;
    border: none;
}

table[b-ri64km7y3a] {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid transparent;
    text-align: center;
    color: var(--main-font-color);
    font-family: var(--secondary-font);
}



/* _content/VertexWeb/Pages/Register.razor.rz.scp.css */
.form[b-usd1vqtxep] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form button[b-usd1vqtxep] {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-main);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--main-font);
}

.tittle[b-usd1vqtxep]{
    color: var(--main-font-color);
    font-family: var(--main-font);
}

.user-box[b-usd1vqtxep] {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-box input[b-usd1vqtxep] {
    width: 40%;
    height: 25%;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-light);
}

.user-box input[b-usd1vqtxep]::placeholder {
    color: var(--secondary-font-color);
    font-family: var(--main-font);
}
/* _content/VertexWeb/Shared/Category.razor.rz.scp.css */
.category-section[b-uimxlhnp8n]{
    width: 100%;
    margin: 5vh 0;
}

.category-section h3[b-uimxlhnp8n]{
    font-size: 2.3rem;
    font-family: var(--main-font);
    color: var(--main-font-color);
    padding: 0;
    width: 100%;
    text-align: center;
}

.category-section > div[b-uimxlhnp8n]{
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
/* _content/VertexWeb/Shared/DashboardCard.razor.rz.scp.css */
.dashboard-card[b-rzz0cwn0rq]{
    background-color: var(--secondary-background-color);
    border-radius: 2rem;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dashboard-card:hover[b-rzz0cwn0rq]{
    background-color: var(--main-background-color);
}

.dashboard-card > div[b-rzz0cwn0rq] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard-card > div:nth-child(1)[b-rzz0cwn0rq] {
    width: 35%;
    height: 100%;
}

.dashboard-card > div:nth-child(2)[b-rzz0cwn0rq] {
    width: 65%;
    height: 70%;
}

h3[b-rzz0cwn0rq]{
    font-size: 2rem;
    color: var(--main-font-color);
    text-align: center;
}

p[b-rzz0cwn0rq]{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
}

span[b-rzz0cwn0rq]{
    font-size: 12vh;
    color: var(--purple-main);
}
/* _content/VertexWeb/Shared/Dialog.razor.rz.scp.css */
.modal-dialog .modal-content[b-95e6wzg1tp]{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease-in-out;
}

.modal-dialog .modal-content:hover[b-95e6wzg1tp]{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
}

.modal-dialog .modal-header[b-95e6wzg1tp]{
    color: var(--purple-main);
}

.modal-dialog .modal-content h4[b-95e6wzg1tp]{
    font-size: 2rem;
    font-family: var(--main-font);
}

.modal-dialog .modal-content button[b-95e6wzg1tp]{ 
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--purple-main);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--main-font-color);
    font-family: var(--secondary-font);
    transition: all 0.5s ease-in-out;
}

.modal-dialog .modal-content button:hover[b-95e6wzg1tp]{
    background-color: var(--purple-light);
    color: var(--purple-main);
}

.modal-dialog

.modal-dialog .modal-body[b-95e6wzg1tp]{
    color: #E9F1F3;
    font-family: var(--secondary-font);
}
/* _content/VertexWeb/Shared/EmployeeCard.razor.rz.scp.css */
.employee-container[b-vg0ehnpg4l]{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #2C2828;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.description[b-vg0ehnpg4l]{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description p[b-vg0ehnpg4l]{
    text-align:center;
}

.employee-container button[b-vg0ehnpg4l]{
    width: 95%;
    height: 30px;
    background-color:blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
}
.image[b-vg0ehnpg4l]{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* _content/VertexWeb/Shared/MainLayout.razor.rz.scp.css */
.page[b-y9la6rc4f2] {

    display: flex;
    flex-direction: column;
}

main[b-y9la6rc4f2] {
    flex: 1;
}

.sidebar[b-y9la6rc4f2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y9la6rc4f2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y9la6rc4f2]  a, .top-row .btn-link[b-y9la6rc4f2] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y9la6rc4f2] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y9la6rc4f2] {
        display: none;
    }

    .top-row.auth[b-y9la6rc4f2] {
        justify-content: space-between;
    }

    .top-row a[b-y9la6rc4f2], .top-row .btn-link[b-y9la6rc4f2] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y9la6rc4f2] {
        flex-direction: row;
    }

    .sidebar[b-y9la6rc4f2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y9la6rc4f2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y9la6rc4f2], article[b-y9la6rc4f2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/VertexWeb/Shared/MenuItem.razor.rz.scp.css */
.menu-list-item[b-bp8restdaj]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 5vh;
    border-block-end: 1px solid var(--main-font-color);
}
.menu-list-item-img[b-bp8restdaj]{
    inline-size: 15vh;
    block-size: 15vh;
    border-radius: 5px;
}
.menu-list-item-info[b-bp8restdaj]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
    white-space: wrap;
}
.menu-list-item-info p[b-bp8restdaj]{
    font-family: var(--main-font);
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.menu-list-item-buttons[b-bp8restdaj]{
    flex-direction: column;
    justify-content: space-between;
    inline-size: 15%;
    display: flex;
}
.menu-list-item-buttons button[b-bp8restdaj]{
    block-size: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--purple-main);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-font-color);
    cursor: pointer;
    transition: 0.3s;
}
.menu-list-item-buttons button:hover[b-bp8restdaj]{
    background-color: var(--purple-light);
}
/* _content/VertexWeb/Shared/NavMenu.razor.rz.scp.css */
/* .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
} */
/* 
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        Never collapse the sidebar for wide screens
        display: block;
    }
} */

nav[b-g0wplgz66e]{
    width: 100vw;
    height: 70px;
    background-color: var(--purple-main);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    color: var(--main-font-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav > div[b-g0wplgz66e]{
    height: 100%;
    display: flex;
    align-items: center;
}

nav > div:nth-child(1)[b-g0wplgz66e]{
    width: 15%;
    justify-content: center;
}

nav > div:nth-child(2)[b-g0wplgz66e]{
    width: 50%;
    justify-content: space-evenly;
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    
}

[b-g0wplgz66e] .link-nav {
    border-radius: 10px;
    color: var(--secondary-font-color);
    background-color:var(--purple-light);
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 22%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

[b-g0wplgz66e] .link-nav:hover, nav> div:nth-child(3) > div:nth-child(2):hover[b-g0wplgz66e] {
    background-color: var(--purple-main);
    color: var(--main-font-color);
}

[b-g0wplgz66e] .link-nav h4, [b-g0wplgz66e] .link-nav-active h4{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5vw;
}
[b-g0wplgz66e] .link-nav-active{
    border-radius: 10px;
    background-color: var(--purple-main);
    color: var(--main-font-color);
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 22%;
}

nav > div:nth-child(3)[b-g0wplgz66e]{
    width: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav > div:nth-child(3) > div[b-g0wplgz66e] {
    height: 60%;
    background-color: var(--purple-light);
    color: var(--secondary-font-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    
}
nav > div:nth-child(3) > div > h4[b-g0wplgz66e]{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5vw;
}

nav > div:nth-child(3) > div:nth-child(1)[b-g0wplgz66e] {
    width: 60%;
}

nav> div:nth-child(3) > div:nth-child(2)[b-g0wplgz66e] {
    width: 20%;
    cursor: pointer;
}
nav h2[b-g0wplgz66e]{
    font-family: var(--main-font);
    font-size: 2.5rem;
    margin:0;
}



/* _content/VertexWeb/Shared/OrderCard.razor.rz.scp.css */
.menu-list-item[b-9zzna7224d] {
    display: flex;
    justify-content: space-around;
    border-block-end: 1px solid var(--main-font-color);
    align-items: center;
    margin-top: 0.5rem;
}
.menu-list-item-img[b-9zzna7224d] {
    inline-size: 15vh;
    block-size: 15vh;
    border-radius: 5px;
}
.menu-list-item-img img[b-9zzna7224d] {
    width: 15vh;
    height: 15vh;
}
.menu-list-item-info[b-9zzna7224d] {
    flex-direction: column;
    justify-content: space-between;
    inline-size: 60%;
    font-family: var(--main-font);
    color: var(--main-font-color);
}
.menu-list-item-info p[b-9zzna7224d] {
    font-family: var(--secondary-font);
    word-wrap: break-word;
    color: var(--secondary-font-color);
}
